.juko {
  display: block;
  width: 100%;
  min-width: 720px;
  height: 150px;
  position: relative;
  cursor: pointer;
  background: #fff;
  .b1,.b2,.b3 {
    display: block;
    position: absolute;
    top: 0;
    height: 150px;
  }
  .b1 {
    left: 0;
    width: 240px;
    background: image-url('juko/juko.1.jpg') no-repeat;
  }
  .b2 {
    left: 50%;
    width: 248px;
    margin-left: -124px;
    background: image-url('juko/juko.2.jpg') no-repeat;
  }
  .b3 {
    right: 0;
    width: 232px;
    background: image-url('juko/juko.3.jpg') no-repeat;
  }
}

.alavis {
  display: block;
  width: 100%;
  min-width: 720px;
  height: 150px;
  position: relative;
  cursor: pointer;
  background: #fff image-url('alavis/logo.jpg') no-repeat center center;
}
.team-breeder {
  display: block;
  width: 100%;
  min-width: 720px;
  height: 150px;
  position: relative;
  cursor: pointer;
  background: transparent image-url('team-breeder/team-breeder.jpg') no-repeat center center;
}

.dobramiska {
  display: block;
  width: 100%;
  min-width: 720px;
  height: 150px;
  position: relative;
  cursor: pointer;
  background: transparent image-url('dobramiska/dobramiska.png') no-repeat center center;
}
