// Place all the styles related to the Application controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
 *= require "swipebox"
 *= require_self
 *= require_tree .
 */

$light-gray: #f1f1f1;
$dark-gray: gainsboro;
$darker-gray: #939393;
$deep-gray: #333;
$brand-red: #f45e58;

// pagination
$pagination-color: $deep-gray;
$pagination-hover-color: $deep-gray;
$pagination-active-bg: $deep-gray;
$pagination-active-border: $deep-gray;


@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: $light-gray;
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

strong, p.lead {
  font-weight: 600;
}

a {
  color: $brand-red;
  font-weight: 600;
}
.center {
  text-align: center;
}

form {
  .control-group {
    margin: 0 0 0.5em;

    label {
      white-space: nowrap;
      display: block;
      text-overflow: ellipsis;
      width: 100%
    }

    input[type="text"], input[type="email"], input[type="password"] {
      width: 100%
    }


    .help-inline {
      display: block;
      color: $brand-red;
    }
  }

  input[type="submit"] {
    font-size: 1.5em;
  }
}

#head {
  position: relative;
  height: 182px;
  .stripe {
    position: absolute;
    top: 130px;
    height: 52px;
    width: 100%;
    background: $darker-gray;
    z-index: 0;
  }
  .logo {
    margin-left: -175px;
  }
  .logo-top {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -60px;
  }
  .menu {
    .container {
      margin-right: -1em;
    }
    @extend .stripe;
    z-index: 1;
    .nav {
      background: $light-gray;
      background: -moz-linear-gradient(top, $light-gray 1%, $dark-gray 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, $light-gray), color-stop(100%, $dark-gray));
      background: -webkit-linear-gradient(top, $light-gray 1%, $dark-gray 100%);
      background: -o-linear-gradient(top, $light-gray 1%, $dark-gray 100%);
      background: -ms-linear-gradient(top, $light-gray 1%, $dark-gray 100%);
      background: linear-gradient(to bottom, $light-gray 1%, $dark-gray 100%);
      margin-left: -1em;
    }
    .nav > li > a {
      font-size: 1.4em;
      font-weight: 600;
      color: white;
      background: $brand-red;
      padding: 12px 0;
      margin-right: 15px;
      text-transform: uppercase;
      border-radius: 0;
      text-shadow: -1px -1px 0 #cccccc;
      &:hover {
        background: lighten($brand-red, 10%);
      }
    }
    .nav > li:first-child > a {
      padding-left: 15px;
      &::after {
        margin-left: -7px !important;
      }
    }
    .nav > li.active > a {
      background: $deep-gray;
      text-shadow: -1px -1px 0 black;
      position: relative;
      &::after {
        display: block;
        content: " ";
        font-size: 1px;
        position: absolute;
        bottom: -20px;
        left: 50%;
        margin-left: -15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 15px 0 15px;
        border-color: $deep-gray transparent transparent transparent;
      }
    }
  }
  .logo {
    position: absolute;
    top: 36px;
    z-index: 2;
  }
}

.stripe-dark {
  background: $dark-gray;
  &.off-top {
    padding: 50px 0;
  }
}

.stripe-light, .stripe-dark {
  padding: 25px 0;
}


.stripe-nav {
  background: $brand-red;
  color: $light-gray;
  padding: 25px 0;
  font-size: 1.15em;
  font-weight: 600;
  h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    margin-bottom: 1em;
  }
  a {
    color: #fff;
  }
  ul {
    margin: 0 0 1em;
    padding: 0;
    li {
      list-style-type: none;
    }
  }
}

.stripe-footer {
  background: $deep-gray;
  color: #fff;
  padding-top: 0.7em;
  a {
    color: #fff;
  }
}

.image-full {
  margin-right: 1em;
  img {
    width: 100%
  }
}
.stripe-dark .nav {
  a.active, a:hover, a:focus, a.active:hover {
    background: $deep-gray;
    border-radius: 0;
  }
  a:hover, a:focus {
    color: #fff
  }
}

.hero {
  h1 {
    font-size: 3.5em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
  }
  p.lead {
    margin-top: 1.5em;
    font-size: 1.4em;
  }
}

.article {
  margin: 1.5em 0;
  min-height: 3em;
  .date {
    float: left;
    border-radius: 3px;
    background: $darker-gray;
    color: white;
    padding: 0.2em 0.5em 0.3em;
    margin-right: 1em;
    line-height: 1.1;
    min-width: 3em;
    text-align: center;
    .day {
      font-size: 1.4em;
      font-weight: 600;
    }
    .mon {
      text-transform: uppercase;
      font-weight: 600;
    }
  }
  p {
    font-size: 1.1em;
    line-height: 1.5;
  }
  a {
    color: $brand-red;
    font-weight: 600;
  }
  &.short p {
    margin-left: 4em;
  }
  .link-more {
    margin-left: 4em;
    font-size: 1.1em;
    a {
      color: $brand-red;
      font-weight: 600;
    }
  }
}

.gallery {
  overflow: hidden;
  position: relative;
  margin: 1em 0;
  &.gallery-full {
    overflow: visible;
    ul {
      white-space: normal;
      li {
        margin-bottom: 1em;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    white-space: nowrap;
    display: block;
    li {
      display: inline-block;
      list-style-type: none;
      img {
        border: 3px solid $brand-red;
        margin-right: 1.3em;
      }
    }
  }
  .shade {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 100%;
    background: url(gallery-shade.png);
  }
}

.document {
  display:block;
  clear:both;
  background: #fff;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0 0 10px;
  h3,p {
    font-size: 1em;
    line-height: 1.4em;
    margin: 0;
    margin-left: 50px;
  }
  img {
    float: left;
    margin-top: 4px;
  }
}

.cat {
  margin-top: 2em;
  margin-bottom: 2em;
}
